/**
 *= require_self
 */

.layui-container {
  border: 1px solid #eee;
  padding: 15px !important;
  .layui-btn, .layui-edge, .layui-inline, img {
    vertical-align: top !important;
  }
  .dataTables_info {
    text-align: right;
  }
}

.text-underline {
  text-decoration: underline;
}
