<h1>Editing vocabulary dictation log</h1>

<%= render "form", admin_vocabulary_dictation_log: @admin_vocabulary_dictation_log %>

<br>

<div>
  <%= link_to "Show this vocabulary dictation log", @admin_vocabulary_dictation_log %> |
  <%= link_to "Back to vocabulary dictation logs", admin_vocabulary_dictation_logs_path %>
</div>
